@import "tailwindcss";

@theme {
  --color-primary: #ff8901;
  --color-secondary: #fb923c;
  --container-center: true;
  --container-padding: 2rem;
}
 @media (width >= 640px) {
    /* sm */
    --container-padding: 2rem;
  }


  @media (width >= 1024px) {
    /* lg */
    --container-padding: 4rem;
  }


  @media (width >= 1280px) {
    /* xl */
    --container-padding: 5rem;
  }


